<div class="side-nav">
    <div class="form-group">
        <label for="sel1">OVERVIEW BUILDING</label>
        <select class="form-control" id="sel1">
            <option>Condominium No 1</option>
            <option>Condominium No 2</option>
            <option>Condominium No 3</option>
            <option>Condominium No 4</option>
        </select>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="" class="nav-link active">
                <span>
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>

                </span>
                Rooms
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Guests
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Gates
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Voting
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Services
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Cameras
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Biometrics
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>
                </span>
                Payment
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <svg id="rooms" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22" height="22" viewBox="0 0 22 22">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Path_2236" data-name="Path 2236"
                                    d="M9-6v2H2A2,2,0,0,1,0-6V-20a2,2,0,0,1,2-2H16a2,2,0,0,1,2,2v7H16v-7H2V-6Zm7,6a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,16,0Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,16-2ZM15-5V-9h2v2h2v2Z"
                                    fill="#585858" clip-rule="evenodd" />
                            </clipPath>
                        </defs>
                        <g id="Group_253" data-name="Group 253" transform="translate(0 22)" clip-path="url(#clip-path)">
                            <path id="Path_2235" data-name="Path 2235" d="M-5,5H27V-27H-5Z" fill="#585858" />
                        </g>
                    </svg>

                </span>
                Reports
            </a>
        </li>
    </ul>
</div>