<div class="side-nav">
    <div class="form-group">
        <label for="sel1">OVERVIEW BUILDING</label>
        <select class="form-control" id="sel1">
            <option>Condominium No 1</option>
            <option>Condominium No 2</option>
            <option>Condominium No 3</option>
            <option>Condominium No 4</option>
        </select>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="" class="nav-link active">
                <span>
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="far fa-clipboard"></i>
                </span>
                Rooms
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="far fa-user-circle"></i>
                </span>
                Guests
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="fas fa-border-all"></i>
                </span>
                Gates
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="fas fa-poll"></i>
                </span>
                Voting
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="fas fa-brush"></i>
                </span>
                Services
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="fas fa-video"></i>
                </span>
                Cameras
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="fas fa-crop-alt"></i>
                </span>
                Biometrics
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="far fa-credit-card"></i>
                </span>
                Payment
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <span>
                    <i class="fas fa-clipboard-check"></i>
                </span>
                Reports
            </a>
        </li>
    </ul>
</div>