<section class="section container">
    <h1 class="text-center font-weight-bold">Features</h1>
    <div class="row justify-content-center">
        <div class="col-md-3 text-right">
            <div class="features features-left" [ngsReveal]="{reset: true}">
                <img src="../../assets/images/Group 350.png" alt="">
                <h4 class="font-weight-bold">Remembering password</h4>
                <p>No needs to remember codes for the dodders.</p>
            </div>
            <div class="features features-left" [ngsReveal]="{reset: true}">
                <img src="../../assets/images/Group 351.png" alt="">
                <h4 class="font-weight-bold">Remote control</h4>
                <p>No needs to have remote control to the parking.</p>
            </div>
            <div class="features features-left" [ngsReveal]="{reset: true}">
                <img src="../../assets/images/Group 352.png" alt="">
                <h4 class="font-weight-bold">Biometrics</h4>
                <p>Stay safe with best biometrics technology.</p>
            </div>
        </div>
        <div class="col-xl-5 col-lg-4 text-center" [ngsReveal]="{reset: true}">
            <div class="mock-container">
                <div class="image-box">
                    <img src="../../../assets/images/Group 346.svg" class="mock" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3 text-left">
            <div class="features features-right" [ngsReveal]="{reset: true}">
                <img src="../../assets/images/Group 347.png" alt="">
                <h4 class="font-weight-bold">Oppening gates</h4>
                <p>Open any gate with the application only.</p>
            </div>
            <div class="features features-right" [ngsReveal]="{reset: true}">
                <img src="../../assets/images/Group 349.png" alt="">
                <h4 class="font-weight-bold">Services</h4>
                <p>All the services in your hand.</p>
            </div>
            <div class="features features-right" [ngsReveal]="{reset: true}">
                <img src="../../assets/images/Group 348.png" alt="">
                <h4 class="font-weight-bold">Companies</h4>
                <p>For the management company.</p>
            </div>
        </div>
    </div>
    <div class="center">
        <a href="" class="btn features-btn font-weight-bold">View all Features</a>
    </div>
</section>