<section class="section container">
    <h1 class="text-center">Features</h1>
    <div class="row justify-content-center">
        <div class="col-md-3 text-right">
            <div class="features features-left">
                <img src="../../assets/images/Group 350.png" alt="">
                <h4>Remembering password</h4>
                <p>No needs to remember codes for the dodders.</p>
            </div>
            <div class="features features-left">
                <img src="../../assets/images/Group 351.png" alt="">
                <h4>Remote control</h4>
                <p>No needs to have remote control to the parking.</p>
            </div>
            <div class="features features-left">
                <img src="../../assets/images/Group 352.png" alt="">
                <h4>Biometrics</h4>
                <p>Stay safe with best biometrics technology.</p>
            </div>
        </div>
        <div class="col-xl-5 col-lg-4 text-center">
            <div class="mock-container">
                <div class="image-box">
                    <img src="../../../assets/images/Group 346.svg" class="mock" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-3 text-left">
            <div class="features features-right">
                <img src="../../assets/images/Group 347.png" alt="">
                <h4>Oppening gates</h4>
                <p>Open any gate with the application only.</p>
            </div>
            <div class="features features-right">
                <img src="../../assets/images/Group 349.png" alt="">
                <h4>Services</h4>
                <p>All the services in your hand.</p>
            </div>
            <div class="features features-right">
                <img src="../../assets/images/Group 348.png" alt="">
                <h4>Companies</h4>
                <p>For the management company.</p>
            </div>
        </div>
    </div>
    <div class="center">
        <a href="" class="btn features-btn ml-auto">Viev all Features</a>
    </div>
</section>
<!--svg id="circles" data-name="Group 12" xmlns="http://www.w3.org/2000/svg" width="792" height="792"
                    viewBox="0 0 792 792">
                    <circle id="Ellipse_13" data-name="Ellipse 13" cx="396" cy="396" r="396" fill="#2b7ce7"
                        opacity="0.1" />
                    <circle id="Ellipse_14" data-name="Ellipse 14" cx="318.838" cy="318.838" r="318.838"
                        transform="translate(77.162 77.162)" fill="#2b7ce7" opacity="0.1" />
                    <circle id="Ellipse_15" data-name="Ellipse 15" cx="246.044" cy="246.044" r="246.044"
                        transform="translate(157.138 149.956)" fill="#2b7ce7" opacity="0.1" />
                </svg-->