<section class="section">
    <div class="content-1">
        <div class="jumbotron bg-transparent box">
            <img src="../../assets/images/Group 151.png" alt="">
            <h1>Keeping home<br> security simple.</h1>
        </div>
        <div class="shape">
            <svg id="curve-2" xmlns="http://www.w3.org/2000/svg" width="1921.453" height="692.06"
                viewBox="0 0 1921.453 692.06">
                <path id="Path_2094" data-name="Path 2094"
                    d="M1920,179.6c-280.04-81.432-348.3-18.664-607.516,162.7S886.9,581.48,702.955,421.636,383.1,495.846,229.581,491.549-1.453,357.23-1.453,357.23V-177.06H1920Z"
                    transform="translate(1.453 177.06)" fill="#333" opacity="0.327" />
            </svg>
        </div>
    </div>
    <article class="content-2 container">
        <h1 class="text-center">Why Bhome?</h1>
        <div class="d-md-flex d-lg-flex d-sm-column percentage justify-content-around">
            <div class="p-2 text-center">
                <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [space]="-10" [outerStrokeColor]="'#1d91f4'" [innerStrokeColor]="'#e6e6e6'" [showSubtitle]="false"
                    [titleFontSize]="35" [unitsFontSize]="35" [animation]="true" [animationDuration]="300">
                </circle-progress>
                <h3 class="text-center">Inovate</h3>
                <p class="text-center">Lorem Ipsum is doloren sum lorem.</p>
            </div>
            <div class="p-2 text-center middle">
                <circle-progress [percent]="50" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [space]="-10" [outerStrokeColor]="'#1d91f4'" [innerStrokeColor]="'#e6e6e6'" [showSubtitle]="false"
                    [titleFontSize]="35" [unitsFontSize]="35" [animation]="true" [animationDuration]="300">
                </circle-progress>
                <h3 class="text-center">Inovate</h3>
                <p class="text-center">Lorem Ipsum is doloren sum lorem.</p>
            </div>
            <div class="p-2 text-center">
                <circle-progress [percent]="75" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [space]="-10" [outerStrokeColor]="'#1d91f4'" [innerStrokeColor]="'#e6e6e6'" [showSubtitle]="false"
                    [titleFontSize]="35" [unitsFontSize]="35" [animation]="true" [animationDuration]="300">
                </circle-progress>
                <h3 class="text-center">Inovate</h3>
                <p class="text-center">Lorem Ipsum is doloren sum lorem.</p>
            </div>
        </div>
    </article>
</section>