<section class="section-1">
  <nav class="navbar navbar-expand-md bg-transparent navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="../../assets/images/Group 151.png" alt="logo"> <span class="logo-text">Bhome</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-menu">
            <a routerLink="../home" class="nav-link" routerLinkActive="active">HOME</a>
          </li>
          <li class="nav-item nav-menu">
            <a href="" class="nav-link" routerLinkActive="active">FEATURES</a>
          </li>
          <li class="nav-item nav-menu">
            <a routerLink="../auth/sign-in" class="nav-link" routerLinkActive="active">FAQ</a>
          </li>
          <li class="nav-item nav-auth">
            <a routerLink="../auth/sign-in" class="nav-link btn nav-auth-btn">SIGN IN / REGISTER</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <article class="content d-md-flex flex-md-row flex-sm-column align-items-center">
    <div class="box-1 flex-fill p-2 flex-grow-1 jumbotron bg-transparent" [@flyInOut]="'in'">
      <h1 class="font-weight-bold">Bohme Lorem Ipsum ist Dolores Sum</h1>
      <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software
        like
        Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <div class="store-buttons">
        <a href="" class="btn android-btn">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="175.8" height="48"
            viewBox="0 0 175.8 48">
            <defs>
              <clipPath id="clip-path">
                <path id="Path_11" data-name="Path 11"
                  d="M28.67,17.833l-9.135-5.26S2.926,2.964,1.938,2.41C.989,1.857,0,2.212,0,3.4V44.8c0,.87.712,1.265,1.542.791s17.993-10.4,17.993-10.4l9.135-5.26,8.779-5.062c1.028-.593.949-1.424.079-1.859C36.619,22.5,28.67,17.833,28.67,17.833Z"
                  transform="translate(0 -2.155)" />
              </clipPath>
              <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#257cb0" />
                <stop offset="0.286" stop-color="#4a93b5" />
                <stop offset="0.767" stop-color="#78bcbb" />
                <stop offset="1" stop-color="#89cfbd" />
              </linearGradient>
              <linearGradient id="linear-gradient-2" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#52c1ad" />
                <stop offset="1" stop-color="#dee89a" />
              </linearGradient>
              <linearGradient id="linear-gradient-3" x1="0.5" y1="-0.001" x2="0.5" y2="1"
                gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#ec413d" />
                <stop offset="0.167" stop-color="#da4452" />
                <stop offset="0.575" stop-color="#b0487a" />
                <stop offset="0.862" stop-color="#954a92" />
                <stop offset="1" stop-color="#8a4a9d" />
              </linearGradient>
              <linearGradient id="linear-gradient-4" x1="0.501" y1="0.002" x2="0.501" y2="0.999"
                gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#f58879" />
                <stop offset="0.119" stop-color="#f69079" />
                <stop offset="0.713" stop-color="#fcb877" />
                <stop offset="1" stop-color="#fec874" />
              </linearGradient>
            </defs>
            <text id="Android_APP_on" data-name="Android APP on" transform="translate(48.8 17)" fill="#5c5c5c"
              font-size="16" font-family="SegoeUI, Segoe UI">
              <tspan x="0" y="0">Android APP on</tspan>
            </text>
            <text id="GOOGLE_PLAY" data-name="GOOGLE PLAY" transform="translate(48.8 43)" fill="#5c5c5c" font-size="20"
              font-family="SegoeUI, Segoe UI">
              <tspan x="0" y="0">GOOGLE PLAY</tspan>
            </text>
            <g id="PLAY_1_" transform="translate(0 -0.797)">
              <g id="Group_7" data-name="Group 7" transform="translate(0 2.155)" clip-path="url(#clip-path)">
                <path id="Path_10" data-name="Path 10" d="M0,.4V45.205L22.58,22.822Z" transform="translate(0 -1.094)"
                  fill="url(#linear-gradient)" />
              </g>
              <g id="Group_8" data-name="Group 8" transform="translate(0 2.155)" clip-path="url(#clip-path)">
                <path id="Path_12" data-name="Path 12" d="M28.67,16.53l-9.135-5.26L0,0V.158L22.58,22.58Z"
                  transform="translate(0 -0.852)" fill="url(#linear-gradient-2)" />
              </g>
              <g id="Group_9" data-name="Group 9" transform="translate(0 2.155)" clip-path="url(#clip-path)">
                <path id="Path_14" data-name="Path 14" d="M0,79.483v.158L19.535,68.37l9.135-5.26L22.58,57.1Z"
                  transform="translate(0 -35.372)" fill="url(#linear-gradient-3)" />
              </g>
              <g id="Group_10" data-name="Group 10" transform="translate(0 2.155)" clip-path="url(#clip-path)">
                <path id="Path_16" data-name="Path 16" d="M63.19,41.8,57.1,47.85l6.09,6.011,10.4-6.011Z"
                  transform="translate(-34.52 -26.122)" fill="url(#linear-gradient-4)" />
              </g>
            </g>
          </svg>
        </a>
        <a href="" class="btn apple-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="146" height="54" viewBox="0 0 146 54">
            <text id="Available_on" data-name="Available on" transform="translate(42 17)" fill="#fff" font-size="16"
              font-family="SegoeUI, Segoe UI">
              <tspan x="0" y="0">Available on</tspan>
            </text>
            <text id="APP_STORE" data-name="APP STORE" transform="translate(42 49)" fill="#fff" font-size="21"
              font-family="SegoeUI, Segoe UI">
              <tspan x="0" y="0">APP STORE</tspan>
            </text>
            <path id="Path_9" data-name="Path 9"
              d="M22.983,0H4.08A4.063,4.063,0,0,0,0,4.08V45.92A4.063,4.063,0,0,0,4.08,50h18.9a4.063,4.063,0,0,0,4.08-4.08V4.08A4.063,4.063,0,0,0,22.983,0ZM13.554,47.053a2.72,2.72,0,1,1,2.72-2.72A2.728,2.728,0,0,1,13.554,47.053Zm10.29-6.8H3.218V9.384H23.844Z"
              transform="translate(0 2)" fill="#fff" />
          </svg>
        </a>
      </div>
    </div>
    <div class="box-2 flex-fill p-2">
      <img src="../../assets/images/Mockup.png" alt="">
    </div>
  </article>

  <svg version="1.1" id="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 1920 437" style="enable-background:new 0 0 1920 437;" xml:space="preserve">
    <style type="text/css">
      .st0 {
        fill: #FFFFFF;
      }
    </style>
    <path class="st0" d="M1921.02,39.24v398.19H-0.43V235.89c0,0,77.51,143.95,231.03,148.71s289.43-254.37,473.38-77.4
	c183.94,176.97,350.31,112.96,609.53-87.83C1572.72,18.57,1640.98-50.92,1921.02,39.24z" />
  </svg>

</section>