@import '../../../styles/variables';
@import '../../../styles/navbar';

.section-1 {
    background: url('../../../assets/images/Group\ 345.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    position: relative;

    nav {
        .nav-link {
            text-decoration: none;
            color: $white;
    
            &:hover {
                color: $gray;
            }
        }
    }

    .content {
        padding: 6em 380px 2em;
        position: relative;
        z-index: 2;

        .box-1 {
            color: $white;

            h1 {
                font-size: 50px;
                width: 80%;
            }

            p {
                padding: 20px 0;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }

        .box-2 {
            z-index: 2;
            position: relative;

            img {
                height: auto;
            }
        }
    }

    #curve {
        position: absolute;
        width: 100%;
        bottom: -0.2%;
        z-index: 0 !important;

        path {
            fill: $white;
        }
    }

    @include xxxl {

        #curve {
            width: 100%;
        }

        .content {
            padding: 6em 280px;
        }

        .box-1 {
            .h1 {
                font-size: 28px !important;
                width: 100%;
            }

            p {
                font-size: 16px !important;
            }

            .store-buttons {
                position: relative;
                z-index: 9999;
            }
        }

        .box-2 {
            img {
                height: 750px !important;
            }
        }
    }

    @include xxl {
       #curve {
           width: 100%;
       }

       .content {
           .box-1 {
               h1 {
                   font-size: 36px;
               }

               p {
                   font-size: 18px;
               }
           }
           .box-2 {
               img {
                   height: 500px !important;
               }
           }
       }
    }

    @include xl {
        .content {
            padding: 2em 150px;
        }
    }

    @include lg {
        .content {
            padding: 1em 100px;

            .box-1 {
                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 14px !important;
                    padding: 10px 0;
                }
            }

            .box-2 {
                img {
                    height: 400px;
                }
            }
        }

        .box-2 {
            img {
                height: 400px;
            }
        }
    }

    @include md {
        .box-2 {
            text-align: center;
            z-index: 2;

            img {
                height: 300px;
            }
        }
    }

    @include sm {
        .content {
            padding: 6em 0;
        }
    }
}

