@import '../../../styles/variables';

.section-1 {
    background: url('../../../assets/images/Group\ 345.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    position: relative;

    nav {
        .nav-brand {
            color: $white;
        }

        .navbar-toggler-icon {
            color: $white;
        }
    
        .navbar-nav {
            position: relative;
    
            .nav-item {
                font-family: 'Lato';
                padding-right: 20px;
            }
        
            .nav-auth-btn {
                background: $blue;
                border-radius: 30px;
                color: $white !important;
            }
        
            .nav-link {
                text-decoration: none;
                color: $white;

                &:hover {
                    color: $dark-blue;
                }
            }
    
            .active {
                position: relative;
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 11px;
                    left: -10px;
                    width: 16px;
                    height: 16px;
                    -moz-border-radius: 7.5px;
                    -webkit-border-radius: 7.5px;
                    border-radius: 7.5px;
                    background-color: $blue;
                    opacity: 0.6;
                }
    
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 15px;
                    left: -6px;
                    width: 8px;
                    height: 8px;
                    -moz-border-radius: 7.5px;
                    -webkit-border-radius: 7.5px;
                    border-radius: 7.5px;
                    background-color: $blue;
                }
            }
        }
    
        .text-color-blue {
            color: $blue;
        }
    }

    .content {
        padding: 6em 380px 2em;

        .box-1 {
            color: $white;

            h1 {
                font-weight: 700;
                font-size: 50px;
                width: 80%;
            }

            p {
                padding: 20px 0;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }

        .box-2 {
            z-index: 2;
            position: relative;

            img {
                height: auto;
            }
        }
    }

    #curve {
        position: absolute;
        width: 100%;
        bottom: -0.2%;
        z-index: 0 !important;

        path {
            fill: $white;
        }
    }

    @include extra {
        .nav {
            padding: 0 380px;

            .nav-menu {
                font-size: 18px;
            }

            .nav-auth-btn {
                margin-top: 5px;
                font-size: 15px;
                padding: 5px 10px;
            }
        }
    }

    @include xxxl {

        .nav {
            padding: 0 280px;
    
            .nav-menu {
                font-size: 15px !important;
            }
    
            .nav-auth-btn {
                font-size: 12px !important;
            }
        }

        #curve {
            width: 100%;
        }

        .content {
            padding: 6em 280px;
        }

        .box-1 {
            .h1 {
                font-size: 28px !important;
                width: 100%;
            }

            p {
                font-size: 16px !important;
            }
        }

        .box-2 {
            img {
                height: 750px !important;
            }
        }
    }

    @include xxl {
       #curve {
           width: 100%;
       }

       .content {
           .box-1 {
               h1 {
                   font-size: 36px;
               }

               p {
                   font-size: 18px;
               }
           }
           .box-2 {
               img {
                   height: 500px !important;
               }
           }
       }
    }

    @include lg {
        .nav {
            padding: 0 100px;
        }

        .content {
            padding: 6em 100px;

            .box-1 {
                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 14px !important;
                    padding: 10px 0;
                }
            }

            .box-2 {
                img {
                    height: 400px;
                }
            }
        }

        .box-2 {
            img {
                height: 400px;
            }
        }
    }

    @include md {
        .box-2 {
            text-align: center;
            z-index: 2;

            img {
                height: 300px;
            }
        }
    }

    @include sm {
        nav {
            padding: 0 10px;

            .navbar-nav {
                background: $white;
                padding-bottom: 10px;
    
                .nav-link {
                    margin-left: 3em;
                    color: $black;
                }
    
                .active {
                    &::before {
                        left: -20px !important; 
                    }

                    &::after {
                        left: -16px !important;
                    }
                }
            }
        }
        .content {
            padding: 6em 0;
        }
    }
}

